<!-- <div id="toolkit-insert-node-menu" class="insert-node-menu">
  <ul id="node-list">
    {{#each nodeList}}
      <li id="{{this.nodeId}}" class="insert-node-button">{{this.name}}</li>
    {{/each}}
  </ul>
</div> -->